<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Charon Extraction</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" href="path_to_your_favicon.ico" type="image/x-icon">
</head>
<body>
    <h1>Charon Extraction</h1>
    <button class="btn" onclick="showPopup()">CURSOS</button>
    <button class="btn" onclick="showWorkspacePopup()">WORKSPACES</button>
    <button class="btn" onclick="showReportFormPopup()">RELATÓRIOS</button>
    <div class="overlay" onclick="hidePopup()"></div>

    <div class="popup">
        <form action="/download-cursos" method="post">
            <label for="course-names">Informe os nomes dos cursos divididos por vírgula (máx 10 cursos):</label>
            <input type="text" id="courseNames" name="course_names" required>
            <br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <div class="workspace-popup">
        Aguarde, estamos encontrando as informações.
    </div>
    <div id="loading" style="display: none;">
        <p>Carregando...</p>
    </div>

    <div id="reportFormPopup" class="popup" style="display: none;">
        <h2>Digite os nomes dos cursos separados por vírgula (,)</h2>
        <form action="/download-relatorios" method="post">
            <input type="text" name="report_name" placeholder="Nome do curso">
            <input type="submit" value="Submeter">
        </form>
        <button onclick="closeReportFormPopup()">Fechar</button>
    </div>
    <script src="{{ url_for('static', filename='scripts.js') }}" defer></script>
</body>
</html>
